.actions {
  margin-bottom: 2rem;
}
.backButton {
  display: flex;
  justify-content: end;
  margin: -3rem 1rem;
}
.box {
  margin-top: 3rem;
}
.card{
  box-shadow: none!important;
}
.selects {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}