.actions {
  margin-bottom: 2rem;
}
.backButton {
  display: flex;
  justify-content: center;
  
}
.box {
  margin-top: 3rem;
}
.card{
  box-shadow: none!important;
}
.errorMessage {
  text-align: center;
  color: brown;
  margin-top: 20%;
}
.selects {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

@media (min-width: 360px){
  .backButton {   
    margin: -3rem 1rem;
    justify-content: end;
  }
}