


.navbar {
  align-items: center;
  border-bottom: 3px solid orangered;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
}

@media (min-width: 360px){
  .divLogo {
    margin-left: 2rem;
  }
  .divLogo p {
    margin: 0;
  }
  .divBadge {
    margin-right: 2rem;
  }
  
}