.divBadge {
  margin-right: 2rem;
}
.divLogo {
  margin-left: 2rem;;
}
.divLogo p {
  margin: 0;
}

.navbar {
  height: 100px;
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid orangered;
}